//This example needs rust toolchain nightly version
//Due this it going to panic when try to test it with a non-nightly toolchain set
//This example works correctly

#![feature(proc_macro_hygiene, decl_macro)]
#[macro_use] extern crate rocket;
use ssr_rs::Ssr;
use rocket::response::content;
use rocket_contrib::serve::StaticFiles;
use std::fs::read_to_string;


#[get("/")]
fn index() -> content::Html<String> {
    let source = read_to_string("./client/dist/ssr/index.js").unwrap();

    content::Html(
        Ssr::render_to_string(&source, "SSR", None)
    )

}

fn main() {
    rocket::ignite()
    .mount("/styles", StaticFiles::from("./client/dist/ssr/styles"))
    .mount("/scripts", StaticFiles::from("./client/dist/client/"))
    .mount("/images", StaticFiles::from("./client/dist/ssr/images/"))
    .mount("/", routes![index]).launch();
}